In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
from dsutils._decorators import _groupby_apply_ungroup

In [3]:
N=1000

In [4]:
df = pd.DataFrame(
{
    "letters": np.random.choice(list("ABCD"),size=N),
    "ints": np.random.randint(0,100,N),
    "nums": np.random.lognormal(size=N)
})

In [5]:
#df.assign(whatever = lambda df: df.groupby("letters")["nums"].transform(lambda x: np.mean(x)))
df.assign(whatever = df.groupby("letters")["nums"].transform(lambda x: np.mean(x)))

    letters  ints      nums  whatever
0         C    53  0.798684  1.580267
1         D    18  1.170807  1.688552
2         B     1  0.635620  1.725104
3         B     0  0.533419  1.725104
4         C    46  1.853820  1.580267
..      ...   ...       ...       ...
995       A    23  3.397311  1.532860
996       A    99  2.950617  1.532860
997       D    33  0.830190  1.688552
998       D    53  8.235098  1.688552
999       A    21  1.132260  1.532860

[1000 rows x 4 columns]

In [17]:
df.groupby("letters")["nums"].transform(lambda x: np.mean(x))

0      1.564087
1      1.564087
2      1.564087
3      1.615334
4      1.728989
         ...
995    1.703393
996    1.728989
997    1.703393
998    1.564087
999    1.615334
Name: nums, Length: 1000, dtype: float64